#test {
  border: solid 3px solid;
  padding: 10px 40px 40px 40px;
  background-color: #e5fce3;
  width: 50%;
  display: none;
  margin: 0 auto;
}

#test-status,
#time {
  text-align: center;
  display: flex;
  justify-content: center;
}

#start-page {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: lemonchiffon;
}

#start-button {
  margin-top: 20px;
}

#time {
  font-weight: bolder;
  text-align: center;
  margin-left: 30%;
}
